{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Главная
{% endblock %}


{% block content %}
    {% include 'header-bg.html' %}
    <section class="categories">
    <div class="container">
         <div class="section-header">
                <h3><span>типы</span> помещений</h3>
            </div>
        <div class="categories-inner">
            <div class="categories-item square" style="background: url({% static 'images/cabin.jpg' %}) center">
                <div class="categories-item-overlay"></div>
                <p>Кабинеты</p>
            </div>
            <div class="categories-item square" style="background: url({% static 'images/konf-zal.jpg' %}) center">
                <div class="categories-item-overlay"></div>
                <p>Конференц-Залы</p>
            </div>
            <div class="categories-item square-big" style="background: url({% static 'images/loft.jpg' %}) ; grid-column: 3/5; grid-row: 1/3;">
                <div class="categories-item-overlay"></div>
                <p>Лофты</p>
            </div>
            <div class="categories-item square" style="background: url({% static 'images/office.jpg' %}) center">
                <div class="categories-item-overlay"></div>
                <p>Офисы</p>
            </div>
            <div class="categories-item long" style="background: url({% static 'images/sklad.jpg' %}) center;  grid-column: 1/3; grid-row: 2/4;">
                <div class="categories-item-overlay"></div>
                <p>Складские помещения</p>
            </div>
            <div class="categories-item square" style="background: url({% static 'images/studio.jpg' %}) center">
                <div class="categories-item-overlay"></div>
                <p>Студии</p>
            </div>
        </div>

    </div>

    </section>

    <section class="choose">
        <div class="container choose-wrapper">
            <div class="choose-common choose-on-map">
                <div class="choose-overlay"></div>
                <a href="">смотреть на карте</a>
            </div>
            <div class="choose-common choose-rent">
                <div class="choose-overlay"></div>
                <a href="{% url 'lk' %}">сдать свое помещение</a>
            </div>

        </div>
    </section>

    <section class="best-offers">
        <div class="container" >
            <div class="section-header">
                <h3><span>лучшие</span> предложения для вас</h3>
            </div>
            <div class=" best-offers-inner">
                {% for house in allHouses %}
                    <div class="best-offers-item">
                        <div class="best-offers-item__image" style="background: url({{ house.image.url }}); background-size: cover">
                            <span>{{ house.price }} руб/сутки</span>
                            <div class="best-offers-item__star">
                                {% if request.user.is_authenticated and not house.id in allfavs%}
                                    <b onclick="addfav({{ house.id }})">&#9733;</b>
                                {% endif %}
                                <b></b>
                            </div>
                        </div>
                        <div class="best-offers-item__info">
                            <div class="best-offers-item__info-left">
                                <p><a href="{% url 'product' house.name_slug %}">{{ house.name }}</a></p>
                                <span>{{ house.short_description }}</span>
                            </div>
                        </div>
                    </div><!--//best-offers-item -->
                {% endfor %}
            </div><!--//best-offers-best-offers-inner -->
        </div>
    </section>
    <section class="blog-news">
        <div class="container" >
            <div class="section-header">
                <h3><span>новости</span> и наш блог</h3>
            </div>
            <div class="blog-news-inner">

                {% for news in allNews %}
                    <div class="blog-news-item">
                        <div class="blog-news-item__image" style="background: url({{ news.image.url }})">

                        </div>
                        <div class="blog-news-item__info">
                            <p>{{ news.name }}</p>
                            <span>{{ news.short_description }}</span>
                            <b>01.10.19</b>
                            <div class="blog-news-item__tags">
                                {% for tag in news.tags.all %}
                                    <a class="btn btn-tag" > {{ tag.name }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!--//blog-news-item -->
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
    function addfav(id) {
        window.location.replace(`/addfav/${id}`);
    }
    </script>

{% endblock %}