{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Просмотр предложения
{% endblock %}


{% block content %}
{% include 'header-no-bg.html' %}

<section class="lk-user">
        <div class="container lk-user-inner">
            {% if curUser.avatar %}
                   <img width="200" src="{{ curUser.avatar.url }}">
            {% else %}
                   <img src="http://placehold.it/200">
            {% endif %}

            <p>{{ curUser.fio }}</p>
        </div>

    </section>
    <section class="lk-tab">
        <div class="container">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'info')">мои данные</button>
                <button class="tablinks" onclick="openTab(event, 'settings')">мои настройки</button>
                <button class="tablinks" onclick="openTab(event, 'favorites')">избранное</button>
                <button class="tablinks" onclick="openTab(event, 'history')">история</button>

                <button class="tablinks" {% if not curUser.isOfferRent %}disabled{% endif %} onclick="openTab(event, 'houses')">мои помещения</button>
                <button class="tablinks"  onclick="openTab(event, 'active-rent')">активные аренды</button>

            </div>

            <div id="info" class="tab-content" style="display: block">

                    <form action="{% url 'update_req' %}" method="post" class="lk-tab-info" enctype="multipart/form-data">{% csrf_token %}
                    <div class="lk-tab-info-left">

                           <p class="filter-separator tab-filter">основные данные</p>
                            <div class="lk-tab-block">
                                <input type="text" placeholder="ваше ф.и.о" name="{{ updateForm.fio.name }}" value="{{ curUser.fio }}">
                                <input type="text" placeholder="ваше Email" name="{{ updateForm.email.name }}" value="{{ curUser.email }}">
                                <input type="text" placeholder="ваш телефон" name="{{ updateForm.phone.name }}" value="{{ curUser.phone }}">
                                <input type="text" placeholder="ваша профессия" name="{{ updateForm.profession.name }}" value="{{ curUser.profession }}">
                                <input type="text" placeholder="ваше оборазование" name="{{ updateForm.study.name }}" value="{{ curUser.study }}">
                                 <input type="text" placeholder="ваше хобби" name="{{ updateForm.hobby.name }}" value="{{ curUser.hobby }}">
                                <label for="ava" style="cursor: pointer">
                                    {% if curUser.avatar %}
                                      изменить фото профиля <img width="50"  src="{{ curUser.avatar.url }}">
                                {% else %}
                                      фото профиля не установлено! Кликните для установки
                                {% endif %}
                                     <input id="ava" name="{{ updateForm.avatar.name }}" type="file">
                                </label>

                            </div>
                    </div>

                    <div class="tab-info-right">
                        <p class="filter-separator tab-filter">ИНТЕРЕСЫ</p>
                        <textarea placeholder="напишите тут о себе" name="{{ updateForm.info.name }}">{{ curUser.info }}</textarea>


                    </div>

                    <div class="wrapper">
                         <a style="width: 100%" href="{% url 'logout' %}" class="btn btn-sm ">выход</a>
                         <button style="width: 100%" type="submit" class="btn btn-sm btn-filled">внести изменения</button>

                    </div>

                    </form>


            </div>

            <div id="settings" class="tab-content">
               настройки
            </div>

            <div id="favorites" class="tab-content">
                 <div class=" best-offers-inner">
                     {% for fav in favs %}
            <div class="best-offers-item">
                <div class="best-offers-item__image" style="background: url({{ fav.house.image.url }}); background-size: cover">
                    <span>2000 руб/сутки</span>

                </div>
                <div class="best-offers-item__info">
                    <div class="best-offers-item__info-left">
                        <p><a href="#">Lorem ipsum dolor.</a></p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, quisquam.</span>
                    </div>

                </div>
                <a class="add-btn" href="{% url 'delfav' fav.id %}">убрать из избранного</a>
            </div><!--//best-offers-item -->
            {% endfor %}



        </div><!--//best-offers-best-offers-inner -->
            </div>
            <div id="history" class="tab-content">
              история
            </div>
        <div id="houses" class="tab-content" style="height: 100vh">
            <div id="allhouses" class="all-houses-tab tab-visible">
                <div class=" best-offers-inner">
                    <div  class="add-house">
                        <a href="javascript: (void 0);" style="z-index: 10" onclick="showAdd()">+</a>
                    </div>
                    {% for house in myHouses %}
                    <div class="best-offers-item">
                        <div class="best-offers-item__image" style="background: url({{ house.image.url }}); background-size: cover">
                            <span>{{ house.price }} руб/сутки</span>

                        </div>
                        <div class="best-offers-item__info">
                            <div class="best-offers-item__info-left">
                                <p><a href="{% url 'product' house.name_slug %}">{{ house.name }}</a></p>

                            </div>

                        </div>
                        <a style="margin-bottom: 1px" class="add-btn" href="{% url 'addfilter' house.id %}">добавить фильтры</a>
                        <a class="add-btn" href="{% url 'edit' house.id %}">редактировать</a>

                    </div><!--//best-offers-item -->
                    {% endfor %}



                </div><!--//best-offers-best-offers-inner -->
            </div>
            <div id="addhouse" class="add-house-tab ">
                <form action="{% url 'addhouse' %}" method="post" class="add-house-tab-form" enctype="multipart/form-data">{% csrf_token %}
                    <input name="{{ form.name.name }}" type="text" required placeholder="НАЗВАНИЕ ПОМЕЩЕНИЯ">
                    <input name="{{ form.address.name }}" type="text" required placeholder="РАСПОЛОЖЕНИЕ (АДРЕС)">
                    <input  name="{{ form.price.name }}" type="text" required placeholder="СТОИМОСТЬ ПОСУТОЧНОЙ АРЕНДЫ">
                    <input name="{{ form.short_description.name }}" required type="text" placeholder="КОРОТКОЕ ОПИСАНИЕ">
                    <select name="{{ form.town.name }}" required>
                    <option selected disabled>ВЫБЕРИТЕ ГОРОД</option>
                        {% for town in allTowns %}
                            <option value="{{ town.id }}">{{ town.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="{{ form.category.name }}" required>
                    <option selected disabled>ВЫБЕРИТЕ ТИП ПОМЕЩЕНИЯ</option>
                         {% for type in allTypes %}
                          <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select>

                    <textarea name="{{ form.info.name }}" placeholder="ОПИСАНИЕ ОБЪЕКТА" required></textarea>

                    <input type="hidden"  name="{{ form.client.name }}" value="{{ curUser.id }}">
                    <div class="add-house-tab-form-image-buttons">
                        <label for="one_file">
                            <span>+</span>
                            <p>ПРЕВЬЮ</p>
                            <input name="{{ form.image.name }}" id="one_file" type="file" required>
                        </label>
                         <label for="multuple_file">
                             <span>+</span>
                             <p>ФОТО ПОМЕЩЕНИЯ<br><span style="font-size: 8px; text-align: center; display: block">можно выбрать несколько</span></p>

                            <input name="images" id="multuple_file" type="file" multiple>
                        </label>
                    </div>
                <div style="width: 400px;" class="wrapper"> <a style="width: 100%" onclick="closeAdd()" class="btn" >НАЗАД</a>
                    <button style="width: 100%" class="btn btn-filled" type="submit">ОТПРАВИТЬ</button></div>

                </form>
            </div>

        </div>
            <div id="active-rent" class="tab-content">
             <p class="filter-separator tab-filter">Аредновали у меня</p>
            <div class=" best-offers-inner">
                      {% for house in whoHavehouse %}
                    <div class="best-offers-item">
                        <div class="best-offers-item__image" style="background: url({{ house.house.image.url }}); background-size: cover">
                            <span>Арендовано: {{ house.month }} {{ house.day }}</span>

                        </div>
                        <div class="best-offers-item__info">
                            <div class="best-offers-item__info-left">
                                <p><a href="{% url 'product' house.house.name_slug %}">{{ house.house.name }}</a></p>
                                <span>Арендатор: {{ house.clientWhoRent.fio }}</span>
                            </div>

                        </div>


                    </div><!--//best-offers-item -->
                    {% endfor %}
            </div>
                <br><br><br>
             <p class="filter-separator tab-filter">Аредновал я</p>
            <div class=" best-offers-inner">
                      {% for house in rentByme %}
                    <div class="best-offers-item">
                        <div class="best-offers-item__image" style="background: url({{ house.house.image.url }}); background-size: cover">
                            <span>Арендовано: {{ house.month }} {{ house.day }}</span>

                        </div>
                        <div class="best-offers-item__info">
                            <div class="best-offers-item__info-left">
                                <p><a href="{% url 'product' house.house.name_slug %}">{{ house.house.name }}</a></p>

                            </div>

                        </div>


                    </div><!--//best-offers-item -->
                    {% endfor %}
            </div>

            </div>
        </div>

    </section>
<script>
    function closeAdd() {
         document.getElementById('allhouses').classList.add('tab-visible')
        document.getElementById('addhouse').classList.remove('tab-visible')
    }

</script>

{% endblock %}