{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Просмотр предложения
{% endblock %}


{% block content %}
{% include 'header-no-bg.html' %}

<section class="container container-sm about-us">
    <img style="margin-bottom: 25px" src="{{ curPost.imageBig.url }}">
      <div class="section-header">
      <h3><span>КОРОТКО:</span></h3>
    </div>
    <div class="about-text post-text">
        {{ curPost.description | safe }}

    </div>
    <div class="post-date wrapper">
        <div class="date">
            <p>{{ curPost.created_at }}</p>
        </div>
        <div class="tags">
               {% for tag in curPost.tags.all %}
                                    <a class="btn btn-tag" > {{ tag.name }} </a>
                                {% endfor %}

        </div>

    </div>

</section>


{% endblock %}