{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Просмотр предложения
{% endblock %}


{% block content %}
{% include 'header-no-bg.html' %}
   <section class="page-header">
    <div class="page-header-inner">
         <div class="page-header-inner-header">
           <h1>{{ house.name }}</h1>
            <p>{{ house.price }} ₽ / сутки</p>

        </div>

        <ul class="breadcrumbs">
            <li><a href="/">главная</a></li>
            <li>{{ house.name }}</li>
        </ul>
    </div>
</section>
    <section class="product-owner">
        <div class="container product-owner-inner">
            <div class="product-owner-info">
                 <img style="width: 50px;height: 50px" src="{{ house.client.get_avatar }}" alt="">
                <p>
                    {{ house.client.fio }}
                <b>&#9733;</b>
                <span>4.4</span>
                </p>
            </div>
            <div class="product-owner-buttons">
                <a href="#">НАПИСАТЬ ВЛАДЕЛЬЦУ</a>
                <a href="#">ПОКАЗАТЬ НА КАРТЕ</a>
                {% if  request.user.is_authenticated and not house.id in allfavs %}
                <a style="cursor: pointer" onclick="addfav({{ house.id }})">В ИЗБРАННОЕ</a>
                    {% else %}
                    <a style="cursor: no-drop" >В ИЗБРАННОМ</a>
                {% endif %}
                <a style="cursor: pointer" {% if  request.user.is_authenticated %} onclick="rent(){% endif %}">ЗАБРОНИРОВАТЬ</a>
            </div>


        </div>

    </section>

    <section class="product">
        <div class="container product-inner">
            <div class="product-image">

                {% for image in house.housephotos_set.all %}
                    {% if forloop.counter == 1 %}

                        <img id="product_main_img" src=" {{ image.image.url }}">
                    {% endif %}
                     <img class="product-image-thumb" src=" {{ image.image.url }}" onclick="changeImg(this)">
                {% endfor %}


            </div>
            <div style="align-items: start" class="product-calendar  ">
{#     {% if  request.user.is_authenticated %}#}
{#                <select style="width: 100%;#}
{#  height: 50px;#}
{#  border: 1px solid #c4c4c4;#}
{#  padding: 5px 10px;#}
{#  font: 14px 'Montserrat Bold',sans-serif;#}
{#  color: #c4c4c4;#}
{#  text-transform: uppercase;#}
{#  text-align: center;"  id="mon" onchange="checkDays(this)">#}
{#                <option selected disabled>Выберите месяц</option>#}
{#                    {% for k,v in months.items %}#}
{#                        <option value="{{ v }}">{{ k }}</option>#}
{#                    {% endfor %}#}
{##}
{#                </select>#}
{#            <select style="width: 100%;#}
{#  height: 50px;#}
{#  border: 1px solid #c4c4c4;#}
{#  padding: 5px 10px;#}
{#  font: 14px 'Montserrat Bold',sans-serif;#}
{#  color: #c4c4c4;#}
{#  text-transform: uppercase;#}
{#  text-align: center;" id="day">#}
{#             <option selected disabled>Выберите день</option>#}
{#                    {% for i in days %}#}
{##}
{#                        {% if not forloop.counter == 1 %}#}
{#                         <option class="dayyysss" id="day-{{ i }}" value="{{ i }}">{{ i }}</option>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{##}
{#                </select>#}
{#            {% endif %}#}

  <div class="product-calendar-inner">
                <div class="product-calendar-header">
                    <a class="hidden" id="previous" onclick="previous()">&#129120;</a>
                    <h3 class="card-header" id="monthAndYear"></h3>
                    <a class="" id="next" onclick="next()">&#129122;</a>
                </div>

                <table  id="calendar">
                    <thead>
                    <tr>
                        <th onclick="selectColumn('day-1')">ПН</th>
                        <th onclick="selectColumn('day-2')">ВТ</th>
                        <th onclick="selectColumn('day-3')">СР</th>
                        <th onclick="selectColumn('day-4')">ЧТ</th>
                        <th onclick="selectColumn('day-5')">ПТ</th>
                        <th onclick="selectColumn('day-6')">СБ</th>
                        <th onclick="selectColumn('day-7')">ВС</th>
                    </tr>
                    </thead>

                    <tbody id="calendar-body" style="text-align: center">

                    </tbody>
                </table>


                <br/>
                <form class="form-inline" style="display: none">
                    <label class="lead mr-2 ml-2" for="month">Jump To: </label>
                    <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
                        <option value=0>Jan</option>
                        <option value=1>Feb</option>
                        <option value=2>Mar</option>
                        <option value=3>Apr</option>
                        <option value=4>May</option>
                        <option value=5>Jun</option>
                        <option value=6>Jul</option>
                        <option value=7>Aug</option>
                        <option value=8>Sep</option>
                        <option value=9>Oct</option>
                        <option value=10>Nov</option>
                        <option value=11>Dec</option>
                    </select>


                    <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
                    <option value=1990>1990</option>
                    <option value=1991>1991</option>
                    <option value=1992>1992</option>
                    <option value=1993>1993</option>
                    <option value=1994>1994</option>
                    <option value=1995>1995</option>
                    <option value=1996>1996</option>
                    <option value=1997>1997</option>
                    <option value=1998>1998</option>
                    <option value=1999>1999</option>
                    <option value=2000>2000</option>
                    <option value=2001>2001</option>
                    <option value=2002>2002</option>
                    <option value=2003>2003</option>
                    <option value=2004>2004</option>
                    <option value=2005>2005</option>
                    <option value=2006>2006</option>
                    <option value=2007>2007</option>
                    <option value=2008>2008</option>
                    <option value=2009>2009</option>
                    <option value=2010>2010</option>
                    <option value=2011>2011</option>
                    <option value=2012>2012</option>
                    <option value=2013>2013</option>
                    <option value=2014>2014</option>
                    <option value=2015>2015</option>
                    <option value=2016>2016</option>
                    <option value=2017>2017</option>
                    <option value=2018>2018</option>
                    <option value=2019>2019</option>
                    <option value=2020>2020</option>
                    <option value=2021>2021</option>
                    <option value=2022>2022</option>
                    <option value=2023>2023</option>
                    <option value=2024>2024</option>
                    <option value=2025>2025</option>
                    <option value=2026>2026</option>
                    <option value=2027>2027</option>
                    <option value=2028>2028</option>
                    <option value=2029>2029</option>
                    <option value=2030>2030</option>
                </select></form>

            </div>


            </div>
        </div>
    </section>
    <section class="product-info">
        <div class="container product-info-inner">
            <div class="product-info-inner-left">
             <p class="filter-separator full-row">основные данные объекта</p>

            <input style="background: #fff" type="text" class="full-row" disabled  value="{{ house.client.fio }}">
            <input style="background: #fff" type="text"  disabled value="GMT+3">
            <input style="background: #fff" type="text"  disabled value="{{ house.address }}">
           <textarea style="background: #fff" class="full-row" disabled placeholder="напишите тут о своих интересах и увлечениях">{{ house.info }}</textarea>

        </div>
            <div class="product-info-inner-right">
                 <p class="filter-separator full-row">другие параметры</p>

                {% for filter in filterValues %}
                    {% if filter.value  %}
                    <p class="filter-info"> {{ filter.filter.name }} : {{ filter.value }}</p>
                     {% elif filter.boolValue %}
                    <p class="filter-info"> {{ filter.filter.name }} : ДА</p>
                    {% else %}
                        <p class="filter-info"> {{ filter.filter.name }} : НЕТ</p>
                    {% endif %}
                {% endfor %}



        </div>

        </div>

    </section>

<script>


    function addfav(id) {
        window.location.replace(`/addfav/${id}`);
    }

//let rentDays={}
//var arr=[]
//    {#% for x in rentdays %#}
//        cM = '{{ x.month }}'
//        if (cM in rentDays){
//            arr.push({{ x.day }})
//            rentDays['{{ x.month }}']=arr
//    }
//    else {
//            arr=[]
//            cM = '{{ x.month }}'
//            arr.push({{ x.day }})
//            rentDays['{{ x.month }}']=arr
//        }





 //   {#% endfor %#}
 // console.log(rentDays)

function checkDays(el) {
        allD = document.getElementsByClassName('dayyysss')

        for (x of allD){
              console.log(x)
              x.disabled = false
            console.log(x)
        }
      let curM = el.options[el.selectedIndex].text
    console.log(el.options[el.selectedIndex].text)
    if (curM in rentDays){



        console.log( rentDays[curM])
        for (x of rentDays[curM]) {
            console.log(x)
            document.getElementById(`day-${x}`).disabled = true
        }
    }
}

function rent() {
    var h = {{ house.id }}
    var whh = {{ house.client.id }}
    //var m = document.getElementById("mon");
    //var mon = m.options[m.selectedIndex].text;
    // var d = document.getElementById("day");
    //var day = d.options[d.selectedIndex].text;
    //console.log(mon,day)

     window.location.replace(`/rent?globaltime=${JSON.stringify(selectedAll)}&h=${h}&whh=${whh}&time=${JSON.stringify(userSelected)}`);
}
</script>
    <script>
    let mainimg=document.getElementById('product_main_img')
    function changeImg(el) {
        let allThums = document.getElementsByClassName('product-image-thumb')
        for (x of allThums){
            console.log(x.classList.remove('selected'))
        }
        console.log(el.getAttribute('src'))
        el.classList.add('selected')
        mainimg.classList.remove('fade-in')
        mainimg.classList.add('fade-out')
        mainimg.addEventListener('animationend', () => {
            mainimg.setAttribute('src', el.getAttribute('src'))
            mainimg.classList.remove('fade-out')
            mainimg.classList.add('fade-in')
        });


    }
</script>

     <script>
    function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name+'=; Max-Age=-99999999;';
    }

    </script>

<script>

    console.log({{ rentTime.rentTime|safe }})
    today = new Date();
    currentMonth = today.getMonth();
    currentYear = today.getFullYear();
    selectYear = document.getElementById("year");
    selectMonth = document.getElementById("month");

    let test = '{{ rentTime|safe }}';
    let selected = [];
    let selectedAll={};

    let userSelected = {};



     console.log('selectedAll 1',selectedAll)


    months = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];

    monthAndYear = document.getElementById("monthAndYear");

    let curYear = currentYear,
        curMonth = currentMonth +1
    //selectedAll[curYear]={}
     userSelected[curYear]={}

     if ( test === 'no' ){
         selectedAll = {}
         selectedAll[curYear]={}
    }else {
         selectedAll={{ rentTime|safe }};
     }


    showCalendar(currentMonth, currentYear);



 //   if (!selectedAll){
 //           console.log('selectedAll 2',selectedAll)

 //   }
     for (let x in selectedAll[curYear][curMonth]) {
         // console.log(selectedAll[curYear][curMonth][x])
         document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('selected')
         document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('globalrent')
         document.getElementById(selectedAll[curYear][curMonth][x]).removeAttribute('onclick');
     }
  //

 getSelected()
    function next() {
        currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
        currentMonth = (currentMonth + 1) % 12;

        if (curYear !== currentYear ) {
            if (currentYear in selectedAll) {
                console.log('year in object')

            } else {
                console.log('year not in object')
                selectedAll[currentYear] = {}
                    userSelected[currentYear] = {}
            }
        }



        curYear = currentYear
        curMonth = currentMonth+1
        showCalendar(currentMonth, currentYear);
        for (let x in selectedAll[curYear][curMonth]){
            // console.log(selectedAll[curYear][curMonth][x])
            document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('selected')
            document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('globalrent')
             document.getElementById(selectedAll[curYear][curMonth][x]).removeAttribute('onclick');
        }
    }

    function previous() {

        currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
        currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;

        if (curYear !== currentYear ) {
            if (currentYear in selectedAll) {
                console.log('year in object')

            } else {
                console.log('year not in object')
                selectedAll[currentYear] = {}
                userSelected[currentYear] = {}
            }
        }

        curYear = currentYear
        curMonth = currentMonth+1
        // console.log(selectedAll[curYear])

        showCalendar(currentMonth, currentYear);
        for (let x in selectedAll[curYear][curMonth]){
            console.log(selectedAll[curYear][curMonth][x])
            document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('selected')
            document.getElementById(selectedAll[curYear][curMonth][x]).classList.add('globalrent')
             document.getElementById(selectedAll[curYear][curMonth][x]).removeAttribute('onclick');
        }

    }

    function jump() {
        currentYear = parseInt(selectYear.value);
        currentMonth = parseInt(selectMonth.value);
        showCalendar(currentMonth, currentYear);
    }

    function showCalendar(month, year) {
        // console.log('mont', month)
        //   console.log('curMonth', today.getMonth())
        //  console.log('year', year)
        //   console.log('curyear', curYear)

        if (year >= curYear){
            if (month > today.getMonth()){
                document.getElementById('previous').classList.remove('hidden')
            }
            else{
                if (year > today.getFullYear()){
                    document.getElementById('previous').classList.remove('hidden')
                }
                else{
                    document.getElementById('previous').classList.add('hidden')
                }

            }
        }


        let firstDay = ((new Date(year, month)).getDay()+ 6) % 7;

        tbl = document.getElementById("calendar-body"); // body of the calendar

        // clearing all previous cells
        tbl.innerHTML = "";

        // filing data about month and in the page via DOM.
        monthAndYear.innerHTML = months[month] + " " + year;
        selectYear.value = year;
        selectMonth.value = month;

        // creating all cells
        let date = 1;
        for (let i = 0; i < 6; i++) {
            // creates a table row
            let row = document.createElement("tr");

            //creating individual cells, filing them up with data.
            for (let j = 0; j < 7; j++) {
                if (i === 0 && j < firstDay) {
                    cell = document.createElement("td");

                    cellText = document.createTextNode("");
                    cell.appendChild(cellText);

                    row.appendChild(cell);
                }
                else if (date > daysInMonth(month, year)) {
                    break;
                }

                else {
                    cell = document.createElement("td");
                    cell.classList.add(`day-${j +1}`)
                    cell.innerHTML = '<div class="td-div"></div>'
                    cell.setAttribute('onclick','selectOne(this);')
                    cell.setAttribute('data-date',`${date}`)
                    cell.setAttribute('id',`${date}`)
                    cellText = document.createTextNode(date);
                    if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
                        cell.classList.add("bg-info");
                    } // color today's date
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                    date++;

                }


            }

            tbl.appendChild(row); // appending each row into calendar body.
        }

    }


    // check how many days in a month code from https://dzone.com/articles/determining-number-days-month
    function daysInMonth(iMonth, iYear) {
        return 32 - new Date(iYear, iMonth, 32).getDate();
    }


    function selectColumn(el) {

        let days = document.getElementsByClassName(el)
        for (i of days){
            i.classList.toggle('selected')
            i.classList.toggle('user')
        }
        getSelected()
    }

    function selectOne(el) {
        el.classList.toggle('selected')
        el.classList.toggle('user')
        // console.log(el)
        // link = document.createElement('a')
        // link.setAttribute('href','#')
        // link.innerHTML='sds'
        // el.appendChild(link)
        getSelected()

    }


    function getSelected() {
        // selected=[]
        let selectedDays = document.getElementsByClassName('selected')
        alldays = []
        for (x of selectedDays){
            alldays.push( x.getAttribute('id'))

        }
        // console.log('curYear', curYear)
        // console.log('curMonth', curMonth)
        selectedAll[curYear][curMonth]= alldays
        console.log('selectedAll',selectedAll)

         let userSelect = document.getElementsByClassName('user')
        userdays = []
        for (x of userSelect){
            userdays.push( x.getAttribute('id'))

        }
        // console.log('curYear', curYear)
        // console.log('curMonth', curMonth)
        userSelected[curYear][curMonth]= userdays
        console.log('userSelected',userSelected)


    }
</script>



{% endblock %}