{% extends 'basic.html' %}
{% load static %}
{% block title %}
    {{ block.super }} - Главная
{% endblock %}


{% block content %}
  <header class="header-with-bg">
    <div class=" header-wrapper ">
        <div class="container wrapper">
            <div class="grid-item header-logo">
                <a href="/">sberoom</a>
                 <div class="header-languages">
                    <p class="active">RU</p>
                    <p>USD</p>
                </div>
            </div>
            <div class="header-nav">
                  <ul class="nav wrapper">
                    <li><a href="{% url 'search' %}">арендовать помещение</a></li>

                    <li><a href="{% url 'login' %}">вы арендодатель ?</a></li>
                    <li><a href="{% url 'search' %}">смотреть на карте</a></li>
                    <li><a href="{% url 'about' %}">контакты / о нас</a></li>
                    <!--li class="with-separator"><a href="#">контакты</a></li-->
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'login' %}">вход/регистрация</a></li>
                    {% else %}
                        <li><a href="{% url 'lk' %}">личный кабинет</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>

    </div><!-- end header-wrapper -->

    <div class="container  header-inner">
        <div class="search-panel">
            <div class="search-wrapper">
                <div class="search-left-controls">
                    <div class="select-box">
                        <div class="select-box__current" tabindex="1">
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="0" value="1" name="Ben" checked="checked"/>
                                <p class="select-box__input-text">россия</p>
                            </div>

                            <div class="select-box__value placeholder" >
                                <input class="select-box__input" type="radio" id="4" value="5" name="Ben" checked="checked"/>
                                <p class="select-box__input-text">выбор страны</p>
                            </div><img class="select-box__icon" src="{% static 'images/close-icon.svg' %}" alt="Arrow Icon" aria-hidden="true"/>
                        </div>
                        <ul class="select-box__list">
                            <li>
                                <label class="select-box__option" for="0" aria-hidden="aria-hidden">россия</label>
                            </li>

                            <li>
                                <label class="select-box__option" for="8" aria-hidden="aria-hidden">регион 4</label>
                            </li>

                        </ul>
                    </div><!-- select-box -->
                    <div class="select-box">
                        <div class="select-box__current" tabindex="1">
                            {% for town in allTowns %}
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="town-{{ town.id }}" value="{{ town.name }}" name="town" />
                                <p class="select-box__input-text">{{ town.name }}</p>
                            </div>
                            {% endfor %}
                            <div class="select-box__value placeholder" >
                                <input class="select-box__input" type="radio" id="townn" value="5" name="town" checked="checked"/>
                                <p class="select-box__input-text">ВЫБОР ГОРОДА</p>
                            </div><img class="select-box__icon" src="{% static 'images/close-icon.svg' %}" alt="Arrow Icon" aria-hidden="true"/>
                        </div>
                        <ul class="select-box__list">
                              {% for town in allTowns %}
                            <li data-town_id="{{ town.id }}" onclick="townSelect(this)">
                                <label class="select-box__option" for="town-{{ town.id }}" aria-hidden="aria-hidden">{{ town.name }}</label>
                            </li>
                             {% endfor %}
                            <li>
                                <label class="select-box__option" for="townn" aria-hidden="aria-hidden">ВЫБОР ГОРОДА</label>
                            </li>
                        </ul>
                    </div><!-- select-box -->
                    <div class="select-box">
                        <div class="select-box__current" tabindex="1">
                              {% for type in allTypes %}
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="type-{{ type.id }}" value="{{ type.name }}" name="type" />
                                <p class="select-box__input-text">{{ type.name }}</p>
                            </div>
                            {% endfor %}
                            <div class="select-box__value placeholder" >
                                <input class="select-box__input" type="radio" id="typee" value="5" name="type" checked="checked"/>
                                <p class="select-box__input-text">ТИП ПОМЕЩЕНИЯ</p>
                            </div><img class="select-box__icon" src="{% static 'images/close-icon.svg' %}" alt="Arrow Icon" aria-hidden="true"/>
                        </div>
                        <ul class="select-box__list">
                                 {% for type in allTypes %}
                            <li data-type_id="{{ type.id }}" onclick="townType(this)">
                                <label class="select-box__option" for="type-{{ type.id }}" aria-hidden="aria-hidden">{{ type.name }}</label>
                            </li>
                             {% endfor %}
                            <li>
                                <label class="select-box__option" for="typee" aria-hidden="aria-hidden">ВЫБОР ПОМЕЩЕНИЯ</label>
                            </li>
                        </ul>
                    </div><!-- select-box -->
                    <label style="align-self: center;" class="custom-check-box"><span>ПОЧАСОВАЯ АРЕНДА</span>
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <button style="padding: 10px 0" class="btn btn-filled">ВЫБОР ДАТЫ</button>
                    <button style="padding: 10px 0" class="btn btn-filled">ВЫБОР ЧАСА</button>

                </div>
                <div class="search-right-controls">
                    <div class="search-right-controls_input-group">
                        <span>цена:</span>
                        <input id="price_from" type="text" placeholder="от">
                        <input id="price_to" type="text" placeholder="до">

                    </div>
                    <div class="search-right-controls_input-group">
                        <span>площадь:</span>
                        <input type="text" placeholder="от">
                        <input type="text" placeholder="до">

                    </div>
                    <a href="javascript:(void 0);" onclick="sendForm()" class="btn btn-filled">Поиск</a>

                </div>

            </div>
            <div class="search-bar">
                <div class="search-bar-left">
                    <span>сортировать по</span>

                </div>
                <div class="search-bar-right">
                    <a href="{% url 'search' %}">сброс фильтров</a>
                    <a href="javascript:(void 0)" onclick="toggleBlock('filter')">показать фильтры</a>
                    <a href="javascript:(void 0)" onclick="toggleBlock('map')">показать карту</a>
                </div>

            </div>
            <div class="search-panel-bottom">
                <div class="search-filters">
                    <div class="search-filters-block">
                        <p class="filter-separator">Все Фильтры</p>
                        <div  class="search-filters-block-items">
                            <div  class="search-filters-block-items-left">
                                <label class="custom-check-box"><span>наличие оборудования</span>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-check-box"><span>наличие мебели</span>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-check-box"><span>наличие кулера с водой</span>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-check-box"><span>Wifi\Интернет</span>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="custom-check-box"><span>оплата картой</span>
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>

                            </div>
                            <div  class="search-filters-block-items-right">
                                <div class="search-right-controls_input-group">
                                    <span>этаж:</span>
                                    <input type="text" placeholder="от">
                                    <input type="text" placeholder="до">

                                </div>
                                <div class="search-right-controls_input-group">
                                    <span>этажей:</span>
                                    <input type="text" placeholder="от">
                                    <input type="text" placeholder="до">

                                </div>


                            </div>
                        </div>


                    </div>


                </div>
                <div class="search-map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac08e4550a9f6c84a28aff7860d0e4b5ab85c2a734eec5e2f47b89af16e0a9de9&amp;width=100%25&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>



    </div><!-- end header-inner -->



</header>

<section id="results" class="best-offers">
    <div class="container" >
        <div class="section-header">
            <h3><span>результаты</span> поиска</h3>
        </div>
        <div class=" best-offers-inner">
            {% for house in allProduct %}
            <div class="best-offers-item">
                        <div class="best-offers-item__image" style="background: url({{ house.image.url }}); background-size: cover">
                            <span>{{ house.price }} руб/сутки</span>
                            <div class="best-offers-item__star">
                                {% if  request.user.is_authenticated%}
                                {% if  not house.id in allfavs%}
                                    <b onclick="addfav({{ house.id }})">&#9733;</b>
                                    {% else %}
                                       <b style="color: #FED500">&#9733;</b>
                                {% endif %}
                                     <b></b>
                             {% endif %}

                            </div>
                        </div>
                        <div class="best-offers-item__info">
                            <div class="best-offers-item__info-left">
                                <p><a href="{% url 'product' house.name_slug %}">{{ house.name }}</a></p>
                                <span>{{ house.short_description }}</span>
                            </div>
                        </div>
                    </div><!--//best-offers-item -->
            {% endfor %}



        </div><!--//best-offers-best-offers-inner -->

    </div>

</section>

<script>
    {% if anchor %}
        window.location = '#{{ anchor }}'
    {% endif %}
let selectedTown = 0
    let selectedType = 0
    let query='/search?'
    function townSelect(el) {
    selectedTown = el.dataset.town_id
        console.log(selectedTown)
    }
    function townType(el) {
    selectedType = el.dataset.type_id
        console.log(selectedTown)
    }

    function sendForm() {
    if (selectedTown){
        query+= `town=${selectedTown}`
    }
     if (selectedType){
        query+= `&type=${selectedType}`
    }

    let priceFrom = document.getElementById('price_from').value
    let   priceTo = document.getElementById('price_to').value

        if (priceFrom){
        query+= `&price_from=${priceFrom}`
    }
       if (priceTo){
        query+= `&price_to=${priceTo}`
    }
    window.location.replace(query);

    }

</script>

{% endblock %}