{% load static %}
<footer class="footer">
  <div class="footer-bottom">
     <div class="container footer-bottom-inner wrapper">
      <div class="footer-bottom-social" >
        <ul>
         <li><a href="{% static 'images/dogovor.docx' %}" rel="nofollow">ДОКУМЕНТЫ</a></li>
          <li><a href="{% static 'images/How_We_Work.docx' %}" rel="nofollow">КАК МЫ РАБОТАЕМ</a></li>
          <li><a href="{% url 'about' %}" rel="nofollow">КОНТАКТЫ</a></li>
        </ul>
      </div>
       <div class="footer-bottom-copyright" >
        <p>
          2019 &copy; keybook. все права защищены
        </p>
      </div>
    </div>
  </div>

</footer>