<footer class="footer">
  <div class="footer-bottom">
     <div class="container footer-bottom-inner wrapper">
      <div class="footer-bottom-social" >
        <ul>
          <li><a href="#" rel="nofollow"><span class="footer-bottom-social-icon vk-icon"></span></a></li>
          <li><a href="#" rel="nofollow"><span class="footer-bottom-social-icon fb-icon"></span></a></li>
          <li><a href="#" rel="nofollow"><span class="footer-bottom-social-icon ints-icon"></span></a></li>
        </ul>
      </div>
       <div class="footer-bottom-copyright" >
        <p>
          2019 &copy; keybook. все права защищены
        </p>
      </div>
    </div>
  </div>

</footer>