<header class="header-with-bg">
    <div class=" header-wrapper ">
        <div class="container wrapper">
            <div class="grid-item header-logo">
                <a href="/">sberoom</a>
                <div class="header-languages">
                    <p class="active">RU</p>
                    <p>USD</p>
                </div>
            </div>
            <div class="header-nav">
                <ul class="nav wrapper">
                    <li><a href="{% url 'search' %}">арендовать помещение</a></li>

                    <li><a href="{% url 'login' %}">вы арендодатель ?</a></li>
                    <li><a href="{% url 'search' %}">смотреть на карте</a></li>
                    <li><a href="{% url 'about' %}">контакты / о нас</a></li>
                    <!--li class="with-separator"><a href="#">контакты</a></li-->
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'login' %}">вход/регистрация</a></li>
                    {% else %}
                        <li><a href="{% url 'lk' %}">личный кабинет</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>

    </div><!-- end header-wrapper -->

    <div class="container  header-inner">

        <h1>арендовать помещение<br/>по вашим запросам</h1>
        <p class="header-inner-small-text">Огромный выбор, разные типы помещений, почасовая аренда</p>
        <div class="header-inner-form">

            <a href="{% url 'search' %}" class="btn btn-filled">СМОТРЕТЬ ПРЕДЛОЖЕНИЯ</a>
        </div>
    </div><!-- end header-inner -->
</header>