<header class="header-no-bg">
    <div class=" header-wrapper ">
        <div class="container wrapper">
            <div class="grid-item header-logo header-logo-dark">
                <a href="/">keybook</a>
            </div>
            <div class="header-nav header-nav-dark">
                <ul class="nav wrapper">
                    <li><a  href="{% url 'search' %}">арендовать помещение</a></li>
                    <li><a href="#">о нас</a></li>
                    <li><a href="#">вы арендодатель ?</a></li>
                    <li><a href="{% url 'search' %}">смотреть на карте</a></li>
                    <li><a href="#">контакты</a></li>
                    <!--li class="with-separator"><a href="#">контакты</a></li-->
                    {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">вход/регистрация</a></li>
            {% else %}
                <li><a href="{% url 'lk' %}">личный кабинет</a></li>
            {% endif %}
                </ul>

            </div>
        </div>

    </div><!-- end header-wrapper -->



</header>